
				<!-- FOOTER -->
				<div class="Footer-All">
					
					<div class="FooterArea-Contents">
						<div class="FooterArea-ContentsLeft">
							<ul>
								<li><img src="uploads/2018/04/logo.png"></li>
								<li><span class="moji-b24oth01">TEL 03-6712-7575</span></li>
								<li><p class="moji-16oth01">受付時間　9:30 〜 18:30 (土・日・祝日を除く)</p></li>
							</ul>
						</div>   
						
						<div class="FooterArea-ContentsRight">
							<ul>
								<li class="moji-12oth01"><a href="http://jssupport-inc.com/test-2/">トップページ</a></li>
								<li class="moji-12oth01"><a href="#GyomuArea">業務内容</a></li>
								<li class="moji-12oth01"><a href="#SystemArea">助成金システム</a></li>
								<li class="moji-12oth01"><a href="#CompanyArea">会社概要</a></li>
								<li class="moji-12oth01"><a href="#ContactArea">お問い合わせ</a></li>
							</ul>
							<p class="moji-12oth01">Copyright ©  JSサポート株式会社 All Rights Reserved.</p>
						</div>
					</div>
					
				</div>