
		<!-- HEADER -->
		<div class="Header-All">
			<div class="Header-Top">
				<div class="Header-contents">
					<p class="moji-12w">助成金をわかりやすく・正確に皆様へ</p>
				</div>
			</div>
			
			<div class="Header-Main">
				<ul>
					<li><a href="http://jssupport-inc.com/test-2/"><img src="uploads/2018/04/logo.png"></a></li>
					<li><img src="uploads/2018/04/Header-tel.png"></li>
				</ul>
			</div>
			<div class="Header-Menu">
				<ul>
					<li class="moji-b16oth01"><a href="./">トップページ</a></li>
					<li class="moji-b16oth01"><a href="#GyomuArea">業務内容</a></li>
					<li class="moji-b16oth01"><a href="#SystemArea">助成金システム</a></li>
					<li class="moji-b16oth01"><a href="#CompanyArea">会社概要</a></li>
					<li class="moji-b16oth01"><a href="#ContactArea">お問い合わせ</a></li>
				</ul>
			</div>
			<div class="Header-Under">
			</div>
		</div>